.header {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mm {
    margin-top: 60px;
}

.titolo {
    text-align: center;
}

.p {
    padding: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

#div {
    display: flex;
}

#div a {
    margin: auto;
}

.con {
    height: 250px;
    width: 250px;
}

.con:hover {
    height: 270px;
    width: 270px;
    cursor: pointer;
}

#contenitore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#form {
    width: 300px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.campi {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.campi label {
    margin-right: 5px;
}

.campi input {
    height: 22px;
}

#button {
    padding: 10px;
}