@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: blue;
  text-align: center;
}

.errore {
  border: 1px solid red;
  color: red;
  padding: 5px;
  margin-bottom: 10px;
}

.button {
  background-color: brown;
}

.button:hover {
  background-color: blueviolet;
  cursor: pointer;
}

.box {
  border: 3px solid green;
  padding: 16px;
  display: flex;
  gap: 10px;
  justify-content: end;
}

.box div {
  border: 3px solid blue;
  margin-bottom: 10px;
}
