#root {
  margin: 0 auto;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.navbar.navbar-expand-lg {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  backdrop-filter: blur(4px) !important;
  background-color: #ffffffdd !important;
  box-shadow: 0px 2px 60px #666;
}

#navbar-logo {
  height: 48px;
  width: auto;
}

#hero-section {
  width: 100%;
  background: url(./hero-background-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.link-underline-hover {
  text-decoration: none;
}

.link-underline-hover:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
}

.selected {
  font-weight: bold !important;
  color: #444 !important;
}